<h4>Signup Form</h4>


<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

  <input
    type="text"
    id="username"
    formControlName="username"
    placeholder="Username"
    class="form-control">
    <br>
  <input
    type="email"
    id="email"
    formControlName="email"
    placeholder="Email"
    class="form-control">
    <br>
  <input
    type="password"
    id="password"
    formControlName="password"
    placeholder="Password"
    class="form-control">
    <br>
  <input
    type="password"
    id="password_again"
    formControlName="password_again"
    placeholder="Password (again)"
    class="form-control">



    <br>
    <button type="submit" [disabled]="!signupForm.valid">Submit</button>

</form><!--signupForm-->
